

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}
.container{
	width:95% !important;
	padding:0 15px;
	margin: 0 auto;
	max-width: 1140px;
}
.main-header{
	background-color: skyblue;
	padding:0 15px;
}
.navbar{
	display: flex;
	align-items;center;
	justify-content:space-between;
}


.navbar a{
	text-decoration:none;
	color: #000000;
	font-size: 15px;  
	font-weight: 600;
	padding: 25px 18px;

}
  .navbar ul li{
  	float: left;
  	list-style: none;
  }

  .navbar img{
  	width: 100px;
  }

  .navbar a:hover{
  	color: #f5808c;
  }

  /*--banner styles--*/
  .featured-section{
  	position: relaive;
  }

  .featured-image{
  	width: 100%;
  	height: 88vh;
  	background: url(../images/madrid.jpg);
  	background-size: cover;
  	background-position: center;
  }

  .text-content {
  	position: absolute;
  	top: 50%;
  	left: 0;
  	magin: auto;
  	width: 100%;
  	transform: translateY(-50%);
  	text-align: center;
  }
  .text-content h1{
  	font-size: 58px;
  	color: #ffffff;
  	margin-border: 30px;
  }
  .btn{
  	font-size: 18px;
  	font-height: 500;
  	background-color: #f5808c;
  	border-radius: 5px;
  	padding: 15px 45px 15px 45px;
  	color: #fff;
  }
  .btn:hover{
  	background-color: #000000;
  }
